<h1>Edit {{course.title}}</h1>

<form action="/courses/edit" method="POST">
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required value="{{course.title}}">
    <label for="title">Course Title</label>
    <span class="helper-text" data-error="Title is required"></span>
  </div>

  <div class="input-field">
    <input id="price" name="price" type="number" class="validate" required min="1" value="{{course.price}}">
    <label for="price">Course Price</label>
    <span class="helper-text" data-error="Title is required"></span>
  </div>

  <div class="input-field">
    <input id="img" name="img" type="text" class="validate" required value="{{course.img}}">
    <label for="img">IMG URL</label>
    <span class="helper-text" data-error="IMG URL is required"></span>
  </div>

  <input type="hidden" name="id" value="{{course.id}}">


  <button class="btn btn-primary">Edit course</button>
</form>